body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: purple;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
  background-color:white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #333;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ddd;
}

.status {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#resetBtn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
